/* Reviews.css */

/* Container styles */
.reviews-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Review section styles */
.reviews-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/* List of reviews styles */
.reviews-list {
  margin: 20px 0;
}

/* .review {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
} */

.review {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  transition: transform 0.3s ease-in-out; /* Adding a smooth transition effect */
}

.review:hover {
  transform: scale(1.05); /* Increase the size on hover */
}


.review-author {
  font-weight: bold;
  color: #333;
}

.review-rating {
  color: #f5a623;
  font-size: 18px;
}

.review-comment {
  font-size: 16px;
  color: #555;
}

/* Add review form styles */
.add-review {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
